/* By ClusterBR (arcbrth@gmail.com) | 2024-1209 | Compiled and deployed implementing MS-GitHub Wfs | Running on google-app-engine */

body {
    background-color: black;
    color: green;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container {
    text-align: center;
    margin-top: -20px;
}
h1 {
    font-size: 5rem;
    margin: 0;
}
p {
    font-size: 1.5rem;
}
a {
    color: #00ff00;
    text-decoration: none;
    padding: 2px 4px; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
}
a:hover {
    color: aqua; 
    background-color: #333333; 
    text-decoration: underline; 
}
a:active {
    color: #ffff00; 
    background-color: #555555; 
}
a:focus {
    outline: none;
    border: 1px solid aqua;
}

